@import url('https://fonts.googleapis.com/css?family=Allura');
#main{
    background-color: aliceblue;
    width:600px;
    height: auto;
    position:relative;
    margin: 50px auto;
    display: flex;
    
    font-family: 'Allura';
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
}
#imgcenter{
    position: absolute;
    z-index: 1;
}
#tb_main{
    
    position: absolute;
    z-index: 2;
}

#txt_HPNY{
    color:yellow;
}
#img_baolixi{
   
}

#bt_click{
    background-color: yellow;
    padding: 10px 32px;
    font-size:25px;
    font-family: 'Allura';
    font-weight: bold;
    color: white;
    text-shadow: 0 0 0.2em red;
    border-radius: 12px;
    border: 2px solid red;
    
}