body{
    height:auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select:none;
}
.header{
    height:auto;
    background-color: rgb(0, 102, 128);
    color:white;
    padding:5px;
}
.main{
    /*padding-top:70px;*/
    height:auto;
    display:grid;
    place-items:center;

}
.screen {
    position: relative;
    overflow: hidden;
    height:auto;
    min-width: 500px;
}
.start-screen{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-screen.active{
    transform:translateX(0)
}
.btn {
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin:10px;
    padding:20px;
    width:230px;
    cursor: pointer;
    display:grid;
    place-items:center;
    font-weight: bold;
}
#btn-choose-level{
    color:green
}
#btn-start-game{
    color:rgb(6, 255, 6)
}
#btn-solve-sudoku{
    color:blue
}
.game-screen{
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
.game-screen.active{
    transform: translateX(0);
}
.game-info{
    font-size:25px;
    margin:2px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
}
.info-area{
    float:left;
}
.button-area {
    float: right;
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.button-area .btn {
    height:auto;
    font-size: 20px;
    width:auto;
    padding:5px;
    margin:5px;
}
.sudoku-board{
    display:grid;
    gap:2px;
    grid-template-columns: repeat(9,auto);
    
}
.sudoku-cell{
    height:45px;
    width:45px;
    border:3px solid black;
    display:grid;
    background-color: white;
    color:blue;
    place-items: center;
    font-size: 32px;
    cursor:pointer;
}
.sudoku-cell.filled {
    background-color: lightgrey;
    color:black;
}
.sudoku-cell.selected {
    background-color: rgb(134, 203, 212);
    color: white;
}
.sudoku-cell.hover{
    border-color: blue;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 5px;
    margin-top:10px;
    place-items: center;
}
.number {
    border: 2px solid black;
    height:auto;
    width:60px;
    display: grid;
    place-items: center;
    font-size:25px;
    cursor: pointer;
    border-radius: 10px;
    padding:3px;
}
.delete{
    border: 2px solid black;
    height:auto;
    width:60px;
    display: grid;
    place-items: center;
    font-size:25px;
    cursor: pointer;
    border-radius: 10px;
    padding:3px;
    color:red;
}